<%- include('master',
{
  title: title,
  body:`
  <h1>Selamat datang diwebsite pariwisata Palembang</h1>
  <p> Ini adalah halaman website official Pariwisita PAlembang. Anda dapat memesan tiket wisata pada website ini. Selamat menikmati keindahan wisata Palembang</p>
  `
})
%>