<%- include('Mmaster',{
    title: title,
    body: ` <h1>Paket Wisata</h1>
    <p>...</p>
})

%>

<% listpaketwisata.forEach(paket=>{%
    <li>
        <%= paket.nama %> : Rp <%= paket.harga %>
        
    </li>
})